@font-face {
  font-family: Harukaze;
  src: url("../Fonts/harukaze-font/HarukazeSolid-X3Wp9.ttf");
}

@font-face {
  font-family: Nugo Sans;
  src: url("../Fonts/nugo-sans-font/NugoSansLight-9YzoK.ttf");
}

@font-face {
  font-family: Nuku-Nuku;
  src: url("../Fonts/nuku-nuku/nuku1.ttf");
}

@font-face {
  font-family: Catcafe;
  src: url("../Fonts/catcafe/CatCafe.ttf");
}

@font-face {
  font-family: Kaorigel;
  src: url("../Fonts/kaorigel/Kaori Gel/KaoriGel.ttf");
}

h1 {
  font-family: "Harukaze", "Courier New", Courier, monospace;
}

body {
  font-family: Kaorigel, "Nugo Sans", Impact, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
}

.header h1 {
  font-size: 6.5rem;
}

.header div,
p {
  font-size: 1.5rem;
  font-family: Nuku-Nuku;
  font-weight: 300;
}

#dark-mode {
  border-radius: 50px;
  border: none;
  font-size: 1.3rem;
  /* box-shadow: inset 0 0 1em #cb8bf6, 0 0 1em grey; */
  box-shadow: 2px 2px 9px #555;
}

.main-text {
  font-size: 1.2rem;
  font-family: Kaorigel;
}

.footer button {
  font-size: 0.8rem;
  box-shadow: 2px 2px 9px #555;
  font-family: Catcafe;
}

.fade-in {
  animation: fadeIn ease-in 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
